<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <br>
        <p>
          <%= restaurant.description %>
        </p>
        <ul>
          <% restaurant.reviews.all.each do |r| %>
            <li>
              <%= r.thoughts %>
            </li>
          <% end %>
        </ul>

        <br>
        <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
      <br>
      <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)  %>
      <br>
      <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>
<hr>
<!-- <%= link_to 'Add new restaurant', new_restaurant_path if user_signed_in? %> -->
<a href='<%= new_restaurant_path %>'>Add a restaurant</a>
